<a href="{% url 'home' %}" title="ホーム">
  <i>🏠</i><span class="label">ホーム</span>
</a>
<a href="{% url 'customers:list' %}" title="顧客">
  <i>📋</i><span class="label">顧客</span>
</a>
<a href="{% url 'bottle_list' %}">
  <i>🍾</i><span class="label">ボトル</span>
</a>
<a href="{% url 'reservation_list' %}">
  <i>📅</i><span class="label">予約</span>
</a>
<a href="#" title="ダッシュボード">
  <i>🖥️</i><span class="label">ダッシュボード</span>
</a>

<hr>
<a href="#" title="設定">
  <i>⚙️</i><span class="label">設定</span>
</a>