{% extends 'base.html' %}
{% load dict_utils %}
{% block title %}顧客リスト | {{ block.super }}{% endblock %}

{% block content %}
<h1 class="main-header sticky1">顧客リスト</h1>
<a href="{% url 'customers:create' %}">新規顧客登録</a>
<form method="get">
  名前: <input type="text" name="name" value="{{ request.GET.name }}">
  電話番号: <input type="text" name="phone" value="{{ request.GET.phone }}">
  <button type="submit">絞り込み</button>
</form>

{% include 'partials/dynamic_table.html' with headers=headers rows=rows %}

{% endblock %}