<div>
    <a class="btn">button</a>
    <a class="btn" aria-disabled="true">button</a>
    <button class="btn">button</button>
    <button class="btn" disabled>button</button>
    <button>button</button>
</div>

<div>
    <a class="btn" href="">通常</a>
    <a class="btn-danger" href="">削除</a>
    <a class="btn-outline" href="">戻る</a>
</div>

<div>
    <button class="btn">通常</button>
    <button class="btn btn-danger">削除</button>
    <button class="btn btn-outline">戻る</button>
</div>