<div class="testsvg">
<a href="#">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
    home1
</a>

<button href="#">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
    home2
</button>
</div>

<h1>h1テキスト</h1>
<h2>h2テキスト</h2>
<h3>h3テキスト</h3>
<h4>h4テキスト</h4>
<h5>h5テキスト</h5>
<h6>h6テキスト</h6>

<div>
    <a class="btn">button</a>
    <a class="btn" aria-disabled="true">button</a>
    <button class="btn">button</button>
    <button class="btn" disabled>button</button>
    <button>button</button>
</div>

<div>
    <a class="btn" href="">通常</a>
    <a class="btn-danger" href="">削除</a>
    <a class="btn-outline" href="">戻る</a>
</div>

<div>
    <button class="btn">通常</button>
    <button class="btn btn-danger">削除</button>
    <button class="btn btn-outline">戻る</button>
</div>
