{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ page_title|default:"" }}{% if page_title %} | {% endif %}simpleCRM{% endblock %}</title>
    
    <!-- <link rel="stylesheet" href="https://rsms.me/inter/inter.css" /> -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body class="">
    <!-- 上部ヘッダー -->
    <header class="sticky">
      
      <button id="toggle-sidebar" class="menu-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

      {% if request.path == "/" %}
        <h1 class="site-logo">
          <a href="/">simpleCRM</a>
        </h1>
      {% else %}
        <div class="site-logo">
          <a href="/">simpleCRM</a>
        </div>
      {% endif %}
      
      <div class="search-box">
        <input type="text" placeholder="検索..." />
      </div>
      <p>ようこそ、{{ request.user.username }} さん。</p>
      <div class="user-menu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
      </div>
    </header>

    <!-- 全体レイアウト -->
    <div class="layout">

      {% include "partials/sidebar.html" %}

      <main class="main-content">
        {% if request.path == "/" %}
          <h2 class="main-header">
            {{ page_title }}
          </h2>
        {% else %}
          <h1 class="main-header">
            {{ page_title }}
          </h1>
        {% endif %}
        {% block content %}
        <div class="empty-message">データがありません。</div>
        <!-- ここに各ページの内容が入ります -->
        {% endblock %}
      </main>
    </div>
    
    <script src="{% static 'js/sidebar.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
