{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ page_title|default:"" }}{% if page_title %} | {% endif %}simpleCRM{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body class="">
    <!-- 上部ヘッダー -->
    <header class="sticky">
      <button id="toggle-sidebar" class="menu-button">☰</button>      
      {% if request.path == "/" %}
        <h1 class="site-logo">
          <a href="/">simpleCRM</a>
        </h1>
      {% else %}
        <div class="site-logo">
          <a href="/">simpleCRM</a>
        </div>
      {% endif %}
      
      <div class="search-box">
        <input type="text" placeholder="検索..." />
      </div>
      <p>ようこそ、{{ request.user.username }} さん。</p>
      <div class="user-menu">👤</div>
    </header>

    <!-- 全体レイアウト -->
    <div class="layout">
      <aside class="sidebar">
        <nav id="nav-sidebar">
          <a href="{% url 'core:home' %}" title="ホーム"
          class="{% if request.resolver_match.namespace == 'core' and request.resolver_match.url_name == 'home' %}active{% endif %}">
            <i>🏠</i><span class="label">ホーム</span>
          </a>

          <a href="{% url 'customers:list' %}" 
            class="{% if request.resolver_match.namespace == 'customers' and request.resolver_match.url_name == 'list' %}active{% endif %}">
            <i>📋</i><span class="label">顧客</span>
          </a>


          <a href="{% url 'bottles:list' %}"
            class="{% if request.resolver_match.namespace == 'bottles' and request.resolver_match.url_name == 'list' %}active{% endif %}">
            <i>🍾</i><span class="label">ボトル</span>
          </a>
          
          <a href="{% url 'reservations:list' %}"
            class="{% if request.resolver_match.namespace == 'reservations' and request.resolver_match.url_name == 'list' %}active{% endif %}">
            <i>📅</i><span class="label">予約</span>
          </a>
          
          <a href="#" title="ダッシュボード"
            class="{% if request.resolver_match.url_name == '' %}active{% endif %}">
            <i>🖥️</i><span class="label">ダッシュボード</span>
          </a>
          
          <hr>
          <a href="{% url 'admin:index' %}" title="設定">
            <i>⚙️</i><span class="label">設定</span>
          </a>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-button">
              <i>🚪</i><span class="label">ログアウト</span>
            </button>
          </form>
          {% include "partials/dev_toggle.html" %}
        </nav>
      </aside>

      <main class="main-content">
        {% if request.path == "/" %}
          <h2 class="main-header sticky1">
            {{ page_title }}
          </h2>
        {% else %}
          <h1 class="main-header sticky1">
            {{ page_title }}
          </h1>
        {% endif %}
        {% block content %}
        <div class="empty-message">データがありません。</div>
        <!-- ここに各ページの内容が入ります -->
        {% endblock %}
      </main>
    </div>

    <script src="{% static 'js/dev-mode.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
