{% extends "components/_card_base.html" %}

{% block card_body %}

{% for item in details %}
<div class="card-row">
  <span class="label">{{ item.label }}</span>
  <span class="value detail-value">{{ item.value }}</span>
</div>
{% endfor %}

<!-- {% if created_at %}
<div class="footer-info">
  <span class="label">登録日</span>
  <span class="value">{{ created_at }}</span>
</div>
{% endif %} -->

<div class="actions">
  {% if back_url %}<a class="btn" href="{{ back_url }}">{{ back_labe|default:"戻る" }}</a>{% endif %}
  {% if update_url %}<a class="btn" href="{{ update_url }}">{{ update_label|default:"編集" }}</a>{% endif %}
  {% if delete_url %}<a class="btn-danger deletelink" href="{{ delete_url }}">{{ delete_label|default:"削除" }}</a>{% endif %}
</div>

{% endblock %}
