{% extends 'base.html' %}

{% block extra_css %}
<style>
textarea[name="description"],
textarea[name="content"],
textarea[name="remarks"] {
  min-width: 200px;
  width: 100%;
  height: 3em;
  resize: vertical;
}

h3 {
  background-color: #ddd;
  font-size: 1em;
  padding: 4px;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1em;
}

th {
  text-align: left;
  width: 20%;
  padding: 0.5em;
}

td {
  width: 80%;
  padding: 0.5em;
}

.error {
  color: red;
  font-size: 0.9em;
}
</style>
{% endblock extra_css %}

{% block content %}
  <h2>{{ title }}</h2>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <h3>個人情報 (Person)</h3>
    <table>
      {% for field in form %}
        {% if field.name in person_fields %}
          <tr>
            <th>{{ field.label_tag }}</th>
            <td>
              {{ field }}
              {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <h3>問い合わせ (Inquiry)</h3>
    <table>
      {% for field in form %}
        {% if field.name in inquiry_fields %}
          <tr>
            <th>{{ field.label_tag }}</th>
            <td>
              {{ field }}
              {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <h3>受付 (Reception)</h3>
    <table>
      {% for field in form %}
        {% if field.name in reception_fields %}
          <tr>
            <th>{{ field.label_tag }}</th>
            <td>
              {{ field }}
              {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <button class="btn" type="submit">{{ submit_label }}</button>
  </form>
{% endblock %}
